.html {
  background-color: #00539F;
}
.name{
  color: pink;
}

.img{
	height: 90px;
	width : 75px;
	float : left;
}
.t{
	color : #930000;
	font-style : italic;
}

.h{
	color : #005757;
	font-size : 20px;
}
